.main-content

    %h2 Hello all shopitems 
    %form{:action => "/",:id=>"searchForm"}
        %select.category
            %option{:value => "car"} Car
            %option{:value => "motorcycle"} Motorcycle
            %option{:value => "bike"} Bike

        %input.minPrice{:placeholder => "Enter min shop_item price", :style =>"display:block;"}
        %input.maxPrice{:placeholder => "Enter max shop_item price", :style =>"display:block;"}

        %input{:type => "submit", :value => "Search"}



    .container
        - @shop_items.each_slice(3) do |shop_item_for_row|
            .row.shop_items_holder
                - shop_item_for_row.each do |shop_item|
                    .col-3.shop_item_holder  
                        %h2
                            = link_to shop_item.title, shop_item_path(shop_item)
                        - if !shop_item.shop_item_images.first.nil?
                            %p
                                %img{:src => shop_item.shop_item_images.first.picture_path,:style => "width:80px"}
                        %p 
                            = shop_item.description
                        %p
                            = shop_item.price  
                            $
                        .btn.btn-success{:style => "margin-bottom:5px;"}+ 
    //= react_component('AllItems')
    = link_to "Add shop item", new_shop_item_path(), class: "btn btn-primary"
    