/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import "bootstrap";

 */


@import "bootstrap";



html,body {

    height: 100%;

}

form > * {
    margin-top : 3px;
    margin-bottom : 3px;
}

form {
    text-align:center;
}

#shop_item_shop_item_image_picture_path {
    display:block;
    margin:auto;
}

.bucket {
    width: 70%;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

.shop_item_form {
    top:200px;
    width:70%;
    left:50%;
    transform:translateX(-50%);
}

.row {
    justify-content:center;
}
.shop_item_holder{
    background:blue;
    margin:10px;
    height:300px;
}

.navbar {
    height:10%;
    position:fixed;
    width:100%;
    z-index: 1;
}


.buttons2{
    padding:2vh;
}
#sidebarCollapse {
    position:relative;
    left: 20vh;
}
.navbar-brand {
    z-index:2;
}
p {
    padding: 0;
    margin: 0;
}
.alert {
    padding: 0;
    border: 0;
    margin:0;
}




.buttons {
    position:relative;
    right: 7vw;
    z-index:2;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.main-content {

    width: 80vw;
    min-height: 80vh;
    background-color:rgb(172, 172, 65) !important;
    position:relative;
    text-align:center;
    top: 15vh;
    bottom:0px !important;;
    border-radius:10px;
    left:50%;
    transform:translateX(-50%);

    transition: left 2s;

}


#searchForm > input {
    margin:auto;
}

.carousel-inner img{
    margin:auto;

}
.imageContainer{
    margin-bottom: 1vh;
    margin-top: 1vh;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

